html {
  background:#F1E7CE none repeat scroll 0 0;
}
body {
  text-align: left;
  color: #333333;
  background-color: #F1E7CE;
}
#doc4 {
  background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 0.5em 0;
  color: #3D3D3D;
}
h1 {
  font-size:138.5%;
}
h2 {
  font-size:123.1%;
}
h3 {
  font-size:108%;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight:bold;
}
textarea {
  width: 35em;
}
input.long {
  width: 25em;
}
input.short {
  width: 6em;
}
a {
  color: #222222;
	text-decoration: underline;
}
#flinders_header {
  background:#C7B37F url(../images/Crest_80px.gif) no-repeat scroll left bottom !important;
  height:80px;
  text-align: right;
  padding-right: 1em;
}
#flinders_header h1 {
  margin: 0;
  line-height: 60px;
}
#flinders_header h1 a {
  text-decoration: none;
}
#bd {
  padding: 2em;
}
#home {
  display: block;
  float: left; 
  margin: 0;
}
ul.header_buttons {
  display: block;
  text-align: right;
}
ul.header_buttons li {
  display: inline;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.clear_float {
  clear: both;
}
.hide {
  display: none;
}
.visibility_hidden {
  visibility: hidden;
}
.label {
  float: left;
  width: 15%;
  text-align: right;
  margin: 0.4em 0 0.4em 0;
  font-weight: bold;
}
.value {
  float: right;
  width: 84%;
  padding-left: 1%;
  margin: 0.4em 0 0.4em 0;
}
.error {
  color: #C1140E;
}
.light_border_bottom {
  border-bottom: 1px solid #CCC;
}
.long_form input[type="checkbox"] {
  margin: 0 0.4em 0 0.4em;
}
#when-date {
  margin-right: 1em;
}
#time_fields {
  margin-left: 1em;
}
.inline {
  display: inline;
}
.pad_right {
  padding-right: 0.5em;
}
.right_function_links {
  float: right;
  text-align: right;
  width: 50%;
}
.right_function_links a {
  margin-left: 0.2em;
}

table {
  margin: 1em;
}
thead, thead a {
  background-color: #183152;
  color: #FFFFFF;
}
th {
  font-weight: bold;
}
th, td {
  padding: 0.2em;
}
.tr_bg_0 {
  background-color: #E1E6FA;
}
.tr_bg_1 {
  background-color: #ABC8E2;
}
.align_right {
  text-align: right;
}

.form-errors
{
  margin-bottom: 10px;
  border: 1px solid #f33;
  background-color: #ffc;
}

.form-errors h2
{
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #f33 url(../images/error.png) no-repeat 5px 2px;
  margin: 0;
}

.form-errors dl
{
  padding: 5px;
}

.form-errors dt
{
  font-weight: bold;
  float: left;
  padding-right: 5px;
}

.form-errors dd
{
  margin: 0;
}

.form-error
{
  color: #f33;
}
